/* -= General area styles */
.cuar_page_title small {
	display: block;
	float: right;
	font-weight: normal;
	font-size: 0.45em;
	line-height: 4em;
}

.cuar_content {
	margin: 1em 0;
}

/* -= Customer Area actions */

.cuar-header {
	position: relative;
}

.cuar-menu {
	position: absolute;
	top: 0;
	right: 0;
}

.cuar-menu-button {
	display: block;
	float: right;
	background: #E6402A;
	font-weight: bold;
	color: white;
	width: 36px;
	height: 36px;
	line-height: 36px;
	-webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
	text-align: center;
}

.cuar-actions-container {
	position: absolute;
	top: 36px;
	right: 0;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
	background: #fafafa;
	min-width: 200px;
}

.cuar-actions-container li {
	display: block;
}

.cuar-actions-container li a {
	display: block;
	margin: 0;
	padding: 0.8em 1em;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-size: 0.9em;
}

.cuar-actions-container li a:hover {
	color: white;
	text-decoration: none;
	background: #E6402A;
}

/* -= File links */
.cuar-private-file .view-link a, .cuar-private-file .download-link a {
	background: url('images/icons.png') top left no-repeat;
	
	display: inline-block;
	width: 20px;
	height: 20px;
	
	text-decoration: none;
	
	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	
  	-webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
       -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
         -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
            transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.cuar-private-file .view-link a {
	background-position: -20px 0px;
}

.cuar-private-file .view-link a:hover {
	background-position: -20px -19px;
}

.cuar-private-file .download-link a {
	background-position: 0px 0px;
}

.cuar-private-file .download-link a:hover {
	background-position: 0px -19px;
}

/* -= File list */
.cuar-private-file-container h4 {
	margin: 20px 0;
	border-bottom: 1px solid #eee;
	opacity: 0.5;
}

.cuar-private-file-container h4:hover {
	background: #fafafa;
	cursor: pointer;
	opacity: 1;
}

.cuar-private-file-container h4.ui-accordion-header-active {
	opacity: 1;
}

.cuar-private-file-list {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.cuar-private-file-list,
.cuar-private-file-list tr,
.cuar-private-file-list td {
	border: none;
	min-height: 40px;
}

.cuar-private-file-list td a,
.cuar-private-file-list td a:hover,
.cuar-private-file-list td a:visited {
	text-decoration: none;
	vertical-align: middle;
}
	
.cuar-private-file-list .date {
	width: 25%;
	vertical-align: middle;
}

.cuar-private-file-list .title {
	width: 100%;
}

.cuar-private-file-list .title a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.cuar-private-file .view-link, .cuar-private-file .download-link {
	width: 30px;
	text-align: right;
}
	
.cuar-private-file-list .cuar-private-file {
}

.cuar-private-file-list .cuar-private-file:hover {
	background: #fafafa;
	cursor: pointer;
}

/* -= File after post */
.cuar-private-file-container {
	margin-top: 4em;
}

/* -= Forms */
.cuar_form {
	margin: 2em 0;
}

.cuar_form .login-links {
	margin-top: 4em;
	font-size: 0.9em;	
	text-align: center;
}

.cuar_form p.error, .cuar_form p.notice {
	padding: 1em;
	margin: 2em 0;
}

.cuar_form p.error {
	background: #F7D0D0;
	color: #8D1818;
}

.cuar_form p.notice {
	background: #EFF7CF;
	color: #758D17;
}

.cuar_form_row {
	display: table;
	width: 100%;
}
.cuar_form_row>label {
	display: table-cell;
	width: 30%;
}

.cuar_form_row>span {
	display: table-cell;
	min-width: 30%;
}

.cuar_form_row span.hint {
	font-size: 0.9em;
	opacity: 0.6;
}

.cuar_form_create_content .cuar_form_row>span input,
.cuar_form_create_content .cuar_form_row>span textarea {
	width: 100%;
}
.cuar_form_create_content .cuar_form_row>span select {
	min-width: 50%;	
}

/* -= Messenger */

.cuar_conv_reply.even {
	background: #f0f0f0;
}

.cuar_conversation .entry-meta, .cuar_conv_reply .entry-meta {
	color: #666;
}

.cuar_conversation .entry-meta em, .cuar_conv_reply .entry-meta em {
	color: #333;
}

.cuar-conversation-list .meta {
	width: 33%;
}

.cuar-conversation-list .updated {
	font-weight: bold;
}

.cuar-conversation-list .cuar-section td {
	border-top: none;
	text-transform: uppercase;
	background: #ededed;
	text-align: center;
}

.cuar-conversation-list .date {
	opacity: 0.8;
	font-size: 90%;
}

.cuar-conversation-list .sender, .cuar-conversation-list .recipient {
	opacity: 0.7;
	font-size: 90%;
}

.cuar-paging {
	border: none;
}

.cuar-paging td {
	border-top: none;
	width: 50%;
}

.cuar-paging td.newer {
	text-align: right;
}
.cuar-paging td.older {
	text-align: left;
}

table.entry-meta {
	border: none;
}

table.entry-meta td {
	border: none;
}
