.metabox-row {
	margin: 0.5em 0; 
}

span.label {
	display: inline-block;
	min-width: 33%;
}

/* -= SETTINGS PAGE */

.cuar-main {
	width: 69%;
	float: left;
	margin-top: 35px;
}

.cuar-side {
	width: 29%;
	float: right;
	margin-top: 35px;
}

/* -= ADMIN MENU & ICONS */

#toplevel_page_customer-area .wp-menu-image {
    background: url( 'images/ic_admin_menu.png' ) no-repeat 6px 7px !important;
}
#toplevel_page_customer-area:hover .wp-menu-image {
	background-position:6px -17px !important;
}
#toplevel_page_customer-area.wp-has-current-submenu .wp-menu-image {
	background-position:6px -39px !important;
}

#icon-customer-area.icon32 {
    background: url( 'images/ic_logo_32.png' ) no-repeat center !important;
}

#icon-customer-area.icon32.icon32-posts-cuar_private_file {
    background: url( 'images/ic_private_file_32.png' ) no-repeat center !important;
}

#icon-icon32-settings.icon32 {
    background: url( 'images/ic_settings_32.png' ) no-repeat center !important;
}

#icon-customer-area.icon32.icon32-posts-cuar_private_page {
    background: url( 'images/ic_private_page_32.png' ) no-repeat center !important;
}

.dashboard-logo {
	max-width: 80%;
	margin: 0 auto 50px;
}

.dashboard-logo img {
	max-width: 100%;
	height: auto; 
}

/* -= SETTINGS SIDEBOXES */

.cuar-sidebox {
	border-bottom: 5px solid #eee;
	margin-bottom: 20px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-sidebox ul {
	list-style: disc;
	margin-left: 30px;
}

.cuar-sidebox h2.cuar-sidebox-title {
	background: #eee;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 18px;
}

.cuar-sidebox div.cuar-sidebox-content {
	background: #fafafa;
	padding: 7px 20px;
}

.cuar-main .cuar-section-description {
	padding: 5px 10px;
}

/* -= ADD-ONS TAB */

.cuar-addon {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	        
	float: left;
	width: 23%;
	margin: 1%;
	padding: 10px;
	border: 1px solid #eee;
	background: #fafafa;
}

.cuar-addon:hover {
	background: #f0f0f0;
}

.cuar-addon img {
	max-width: 100%;
}

.cuar-addon h2 {
	text-align: center;
	text-decoration: none;
}

/* -= INDIVIDUAL SETTINGS TAB ADJUSTMENTS */

.cuar-settings-cuar_addons p.submit {
	display: none;
}
